@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
*{
    font-size: 25px;
    overflow: hidden;
    box-sizing: border-box;
  
    color: white;
    font-family: 'Poor Story', cursive;
}
html{
    background-color:  #3b5998;
    
    
}
body{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
}
nav{
    display: flex;
    
}

.menu ul{
    display: flex;
    position: absolute;
    right: 5px;
    margin: 0;
    padding-right: 15px;
    margin-top: 5px;
}
ul li{
    list-style: none;
    padding-left: 30px;
    font-family: 'Poor Story', cursive;
    cursor: pointer;
    transition: 0.3s;
}
.menu ul li:hover{
    opacity: 0.5;
}
.menu{
    display: flex;
    
}
.logo h1{
    margin: 0;
    margin-top: 5px;
    position: absolute;
    margin-left: 10px;
}
i{
    color: rgb(255, 217, 0);
}
.cronometer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    font-family: 'Poor Story', cursive;
}
section{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    height: 100%;
    align-items: center;
}
.cronometer li{
    padding-left: 10px;
    font-size: 100px;
}
.list{
    max-height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    overflow-y: auto;
   
}
.list::-webkit-scrollbar{
    width: 0;
}
.start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.start h2{
    margin: 0;
}
.start p{
    margin: 0;
}
.startbutton{
    border-radius: 10px;
    background-color: #1DA1F2;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s;
    font-family: 'Poor Story', cursive;
    height: 40px;
}
.startbutton:hover{
    color: #1DA1F2;
    background-color: white;

}
.mission{
    color: rgb(255, 140, 0);
    background-color: white;
    padding-top: 10px;
    padding-left: 0;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    width: 320px;
    justify-content: space-between;
    cursor: auto;
   
}
.missiontext{
    color: rgb(255, 140, 0);
    max-width: 256px;
}
.missiontext2{
    color: rgb(255, 140, 0);
    max-width: 256px;
}
.textcontrol{
    display: flex;
    justify-content: space-between;
}
.missionbar{
    background-color: white;
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
   
   
}
.missiontime{
    display: flex;
    width: 320px;
    justify-content: space-between;
    margin-bottom: 10px;
}
.missiontime span{
    color: blue;
    margin-bottom: 0;
    font-size: 15px;
    margin-top: 0;
}
.missiontime p{
  margin: 0;
  background-color: white;
  font-size: 15px;
  color: rgb(255, 0, 166);
  text-align: center;
}
.controlbutton button{
    font-size: 25px;
    border: none;
    background: transparent;
 
}
.controlbutton button i{
    cursor: pointer;
}
.controlbutton{
    background-color: white;
    display: flex;
}
.controlbutton i{
    background-color: white;
}
.settingsicon{
    color: #333;
    transition: 0.3s;
}
.settingsicon:hover{
    transform: rotate(90deg);
}
.cross{
    color: red;
}
.listtitle{
    background-color: white;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.listtitle h2{
    background-color: white;
    color: blue;
    text-align: center;
    margin-bottom: 0;
}
.totaltime{
    background-color: white;
    font-size: 15px;
    color: rgb(255, 0, 166);
    text-align: center;
    margin-top: 5px;
}
footer{
    position: absolute;
    bottom: 0;
}
.footer{
    margin-bottom: 5px;
    margin-left: 15px;
}
h3 span{
    color: yellowgreen;
    cursor: pointer;
}